

/*_________________  Accordion
________________________________________*/
.accordion {
  position: relative;
  margin: 30px auto;
  /* width: 60%; */
}

[id*="open-accordion"], [id*="close-accordion"] {
  /* background: #818181; */
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #8b8b8b;
  line-height: 40px;
  height: 40px;
  display: block;
  margin: 0;
  position: relative;
  width: 99%;
  height: 80px;
  padding-top: 15px;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #706D6E;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(107, 103, 103, 0.6);
  position: absolute;
  right: 5px;
  top: 25px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  /* background: #fff; */
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;
  overflow: hidden;
  width: 90%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 20px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #ffffff;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.career-container {
  /* margin: 20px 680px auto; */
  /* text-align: center;
  height:40px;
  weight: 60px;
   */
}


