
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 23));
    }    
}
.technologies .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.technologies .slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 22);
}

.technologies .slider .slide {
    height: 100px;
    width: 300px;
}