.hero {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .hero #first {
    position: relative;
    z-index: 1;
    width: 100vw;
    max-width: 100%;
    height: 500px;
  }
  
  
  /* 
     white overlay
     positioned absolute to properly cover the whole image
     NOTE: the bottom border has to be set to equal the image height, and unfortunately % is not supported :(
     
  */
  
  .hero .mask {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    /*
       Create the triangle overlay
       see https://css-tricks.com/the-shapes-of-css/#article-header-id-11
    */
    border-bottom: 500px solid rgb(57, 255, 70);
    border-left: 100vw solid transparent;
  }
  
  
  /*
      Test message overlay 
      You may need to fiddle with width, height, and bottom to get the desired result.
      You may consider using "transform: translateY(-50%);" or similar if the amount of text varies
  */
  
  .hero .info {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 175px;
    width: 50vw;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }