

.social li {
  display: block;
  margin: 20px 0px;
}
.social li a {
  display: block;
  font-size: 15px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.social li a.facebook:hover {
  color: #3b5998;
}
.social li a.instagram:hover {
  color: #d82c7d;
}
.social li a.pinterest:hover {
  color: #e60023;
}
.social li a.linkedin:hover {
  color: #0077b5;
}

.social li a.twitter:hover {
  color: #ffffff;
}
.social li a:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.social li a:hover i {
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}
.social li a.facebook:hover,
.social li a.facebook:active,
.social li a.facebook:focus {
  color: #3b5998;
}
.social li a.twitter:hover,
.social li a.g-plus:active,
.social li a.g-plus:focus {
  transition: 0.1s;
  color: #ffffff;
}
.social li a.instagram:hover,
.social li a.instagram:active,
.social li a.instagram:focus {
  transition: 0.1s;
  color: #d82c7d;
}
.social li a.linkedin:hover,
.social li a.linkedin:active,
.social li a.linkedin:focus {
  transition: 0.1s;
  color: #0077b5;
  background-color: transparent;
}

.social.side {
  position: fixed;
  left: 0px;
  top: calc(50% - 34px);
  z-index: 999;
}
.social.side li {
  display: block;
  margin: 0px;
}
.social.side li a {
  background: #e21c3b;
  color: #ffffff;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social.side li a.facebook {
  border-radius: 0px 7px 0px 0px;
  overflow: hidden;
}
.social.side li a.facebook:hover {
  background: #3b5998;
  color: #ffffff;
}
.social.side li a.instagram {
  position: relative;
  border-radius: 0px 0px 7px 0px;
  overflow: hidden;
}
.social.side li a.instagram::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff9341, #fc2e7d, #a23cad);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.32, 0.1, 0.3, 1);
  z-index: 0;
}
.social.side li a.instagram i {
  position: relative;
  z-index: 1;
}
.social.side li a.instagram:hover {
  color: #ffffff;
}
.social.side li a.instagram:hover::after {
  opacity: 1;
}

  .banner .copyright {
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 110px;
    left: 10px;
    font-size: 12px;
    color: #000;
  }